.modal {
  background: white;
  border-radius: 8px;
  z-index: 1000;
  width: 300px;
  text-align: center;
  padding: 20px 10px;
}

.modal h2 {
  color: rgb(0, 0, 0);
}

.modal input {
  padding: 8px;
}

.buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.buttons button {
  cursor: pointer;
  padding: 3px 5px;
}
